@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
html,
body {
}

.faq > summary {
  list-style-type: none;
}

.faq > summary::-webkit-details-marker {
  display: none;
}

.faq > summary::before {
  padding-right: 0.5rem;
  font-family: "Material Symbols Rounded";
  font-size: 1rem;
  content: "\e5cc";
}

.faq[open] > summary::before {
  font-family: "Material Symbols Rounded";
  content: "\e5cf";
}

.faq[open] > summary {
  margin-bottom: 0.5rem;
}

.slide-down {
  animation: slide-down-animation 100ms;
}

@keyframes slide-down-animation {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#nav-menu span:nth-child(1) {
  top: 0px;
}

#nav-menu span:nth-child(2),
#nav-menu span:nth-child(3) {
  top: 10px;
}

#nav-menu span:nth-child(4) {
  top: 20px;
}

#nav-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-menu {
  width: 30px;
  height: 29px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000000;
  border-radius: 50px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
