@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
html,
body {
  background: #02121c;
  color: white;
  scroll-behavior: smooth !important;
}

::-moz-selection {
  background: #0ea5e960;
}

::selection {
  background: #0ea5e960;
}

.faq > summary {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.faq > summary * {
  list-style-type: none;
}

details[open] summary ~ * {
  animation: sweep 0.15s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0.5;
    margin-top: -5px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.faq > summary::-webkit-details-marker {
  display: none;
}

.faq > summary::before {
  font-family: "Material Symbols Rounded";
  font-size: 1.75rem;
  margin-right: 0.25rem;
  font-weight: 100;
  content: "\e145";
  color: #ffffff;
  transition: 0.25s ease-in-out;
  display: inline-block;
}

.faq[open] > summary::before {
  transform: rotate(45deg);
}

.slide-down {
  animation: slide-down-animation 100ms;
}

.faq ul {
  list-style: decimal;
  margin-left: 2rem;
}

@keyframes slide-down-animation {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up-animation 500ms ease-in-out;
}

@keyframes slide-up-animation {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#nav-menu span:nth-child(1) {
  top: 3px;
}

#nav-menu span:nth-child(2),
#nav-menu span:nth-child(3) {
  top: 11px;
}

#nav-menu span:nth-child(4) {
  top: 19px;
}

#nav-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-menu {
  width: 27px;
  height: 24.5px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-menu span {
  display: block;
  position: absolute;
  height: 1.5px;
  width: 100%;
  background: #ffffff;
  border-radius: 50px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.primary-btn-gradient {
  box-shadow: inset 0px -10px 10px #0071b7;
}

.primary-btn-gradient:hover {
  box-shadow: inset 0px -15px 10px #059bf8;
}

.fade-in {
  animation: fadeIn 200ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blob {
  filter: blur(40px);
  position: absolute;
  z-index: 0; /* to keep it at below everything else */
  top: 0; /* to align it at top */
  left: 0; /* to align it at left */
  width: 250px;
  height: 250px;
  border-radius: 50%; /* to make it circular */
  background: rgb(255, 255, 255, 0.5);
}

.rainbow {
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff9900,
    #33cc33,
    #0099cc,
    #9900cc,
    #ff33cc
  );
  background-size: 400% 400%;
  animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rainbow :focus {
  border: none;
}

.typography :active {
  background-color: #ff0000;
}

@media (max-width: 768px) and (min-width: 640px) {
  .useCaseMobile {
    display: none;
  }
}
