@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
html,
body {
  background: #111111;
  color: white;
  scroll-behavior: smooth !important;
}

::-moz-selection {
  background: #0ea5e960;
}

::selection {
  background: #0ea5e960;
}

.fade-up {
  animation: fadeUp 0.2s ease-in-out;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    margin-top: -2rem;
  }
  100% {
    opacity: 1;
    margin-top: -0.75rem;
  }
}

.faq > summary::-webkit-details-marker {
  display: none;
}

.faq ul {
  list-style: decimal;
  margin-left: 2rem;
}

.slide-down {
  animation: slide-down-animation 100ms;
}

@keyframes slide-down-animation {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up-animation 500ms ease-in-out;
}

@keyframes slide-up-animation {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#nav-menu span:nth-child(1) {
  top: 3px;
}

#nav-menu span:nth-child(2),
#nav-menu span:nth-child(3) {
  top: 11px;
}

#nav-menu span:nth-child(4) {
  top: 19px;
}

#nav-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-menu {
  width: 27px;
  height: 24.5px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-menu span {
  display: block;
  position: absolute;
  height: 1.5px;
  width: 100%;
  background: #ffffff;
  border-radius: 50px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.fade-in {
  animation: fadeIn 200ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.blob {
  filter: blur(40px);
  position: absolute;
  z-index: 0; /* to keep it at below everything else */
  top: 0; /* to align it at top */
  left: 0; /* to align it at left */
  width: 250px;
  height: 250px;
  border-radius: 50%; /* to make it circular */
  background: rgb(255, 255, 255, 0.5);
}

.typography :active {
  background-color: #ff0000;
}

@media (max-width: 768px) and (min-width: 640px) {
  .useCaseMobile {
    display: none;
  }
}

.glass-gradient {
  background: linear-gradient(
    -45deg,
    rgb(226, 226, 226, 0.02) 0%,
    rgb(0, 0, 0, 0.01) 50%,
    rgb(255, 255, 255, 0.1) 100%
  );

  box-shadow: 0 0px 10px rgb(255, 255, 255, 0.1);

  backdrop-filter: blur(10px);
}

.threshold {
  position: sticky;
  width: 100%;
  height: 1px;
  background-color: red;
  z-index: 9999999999;
}

.threshold--top {
  top: 50%;
}

.video {
  opacity: 0;
  transition: all 0.3s ease;
}

.video.active {
  opacity: 1;
}

.locker {
  position: relative;
  display: grid;
  grid-template-columns:
    [full-start] minmax(0, 1fr) [center-start] repeat(
      13,
      [col-start] minmax(min-content, 8rem) [col-end]
    )
    [center-end] minmax(0, 1fr) [full-end];
}

.locker__video {
  position: relative;
  grid-column: col-start 7 / col-end 13;
}

.locker__video video {
  width: auto;
  height: auto;
  position: absolute;
  transition: all 0.3s ease;
}

.locker__container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.locker__content {
  grid-column: col-start 1 / col-end 6;
}

.locker__section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.locker__section:first-child {
  border: none;
}

.grid-container {
  background-image: linear-gradient(
      #7a7a7a 0.5px,
      transparent 0.5px,
      transparent calc(100% - 0.5px),
      #7a7a7a calc(100% - 0.5px)
    ),
    linear-gradient(
      90deg,
      #7a7a7a 0.5px,
      transparent 0.5px,
      transparent calc(100% - 0.5px),
      #7a7a7a calc(100% - 0.5px)
    );
  background-size: 11.11111111111111% 20%;
  border: 0.5px solid #7a7a7a;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-4 span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #494949;
  margin: 35px 5px;
  opacity: 0;
}

#loader-4 span:nth-child(1) {
  animation: opacitychange 1s ease-in-out infinite;
}

#loader-4 span:nth-child(2) {
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader-4 span:nth-child(3) {
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}
